@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Dark theme primary colors */
  --clr-primary-a0: #003c71;
  --clr-primary-a10: #2d4f80;
  --clr-primary-a20: #49638f;
  --clr-primary-a30: #63779f;
  --clr-primary-a40: #7c8cae;
  --clr-primary-a50: #96a2be;

  /** Dark theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Dark theme tonal surface colors */
/*
 * --clr-surface-tonal-a0: #14161b;
 * --clr-surface-tonal-a10: #292b30;
 * --clr-surface-tonal-a20: #404246;
 * --clr-surface-tonal-a30: #585a5e;
 * --clr-surface-tonal-a40: #727377;
 * --clr-surface-tonal-a50: #8c8d90;
 */
  /** Dark theme tonal surface colors */
  --clr-surface-tonal-a0: #17263f;
  --clr-surface-tonal-a10: #2f3a52;
  --clr-surface-tonal-a20: #465066;
  --clr-surface-tonal-a30: #5e667a;
  --clr-surface-tonal-a40: #777e8f;
  --clr-surface-tonal-a50: #9196a4;
}

i {
  padding-right: 10px;
}

body {
  background-color: var(--clr-surface-tonal-a0);
  color: var(--clr-light-a0);
}

.container {
  max-width: 90%;
  margin-top: 100px;
}

#header {
  margin-bottom: 20px;
}

#profile {
  border-radius: 10%;
  width: 100%;
}

.title {
  font-weight: bold;
}

.date, .address {
  text-align: right;
}

h1 {
  font-weight: bold;
}

.day {
  margin-bottom: -0.5rem !important;
}


.poster {
  width: 100%;
  margin-top: 5px;
}

.project {
  padding-bottom: 40px;
}

.author {
  margin-bottom: 0;
}

.emoji {
  margin-right: 5px;
}

.title {
  color: #FF6F00;
}

mark, a, a:hover {
  background-color: var(--clr-primary-a0);
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: 600;
}

.btn, .btn:active, .btn:focus {
  background-color: var(--clr-primary-a0);
  border-color: var(--clr-primary-a0);
}

.btn-primary:disabled {
  background-color: var(--clr-surface-tonal-a20);
  border-color: var(--clr-surface-tonal-a20);
}

.abstract {
  word-break: break-word;  
  text-align: justify;  
  text-justify: inter-character;    
  hyphens: auto;  
  hyphenate-limit-lines: 2;  
  text-rendering: optimizeLegibility;  
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.me {
  text-decoration: underline;
}

@media only screen and (max-width : 576px) {
    .container {
      margin-top: 20px;
    }
}

@media only screen and (min-width : 1350px) {
    .container {
      max-width: 1080px;
    }
}

.ai, .fa, .fab, .fas {
  color: #444444;
}

.b {
  font-weight: bold;
}

/*
 * Dark mode
 * https://miro.medium.com/max/2160/1*uJ2ReGgXJhUi75mFCmUrZA.png
 * from https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129
 * as "Cool Grey"
 */
/*
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1F2933;
    color: #E4E7EB;
  }

  a, a:hover {
    color: #9FFFCE;
  }

  mark {
    background-color: #A8D5BE;
    color: #000000;
  }

  .ai, .fa, .fab, .fas {
    color: #eeeeee;
  }

  .title {
    color: #FFAD44;
  }

  .poster {
    background-color: #fafafa;
    padding: 20px;
  }

  .abstract {
    color: #9AA5B1;
  }
}
*/
