extends layout.pug

block content
  .row
    .col-md-5
      h1 Causal Club
      h3 Reading Group 2024
    .col-md-7
      p
        |  Join our reading group focused on #[mark causality] and related topics, organized by PhD students from the Department of Computer Science at the University of Pisa. Each session has a #[mark presentation] followed by a #[mark discussion], providing a great opportunity to explore and debate key concepts in this field.
      p
        | Join the #[a(href="https://mailman.isti.cnr.it/postorius/lists/kdd-causalclub.isti.cnr.it/") mailing list] or add events to your #[a(href="https://calendar.google.com/calendar/embed?src=c_5990848d16d271e48f83254918c2e4bb0bc154215eee258369f632c39604cdb3%40group.calendar.google.com&ctz=Europe%2FRome") calendar]!
  include upcoming
  include next
  include past
