extends layout.pug

block content
  .row
    .col-md-5
      h1 Causal Club
      h3 Reading Group 2024
    .col-md-7
      p
        |  Join our reading group focused on #[mark causality] and related topics, organized by PhD students from the Department of Computer Science at the University of Pisa. Each session has a #[mark presentation] followed by a #[mark panel discussion], providing a great opportunity to explore and debate key concepts in this field.
      p
        | For any further information, you can reach us out via #[a#mail_both email].
  include upcoming
  include next
  include past
