.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 8th
    h5.month.mb-0 November
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Junhyung Park]
    h4.title.mb-1
      | Causal Spaces: A measure-theoretic axiomatisation of causality
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-94ec16d11c0b9c8de0fad620176ed030",aria-expanded="false",aria-controls="talk-94ec16d11c0b9c8de0fad620176ed030")
        | #[i.bi.bi-card-text] Abstract
  .col-md-7
    p.abstract#talk-94ec16d11c0b9c8de0fad620176ed030.collapse.mt-2
        | We view causality both as an extension of probability theory and as a study of what happens when one intervenes on a system, and argue in favour of taking Kolmogorov's measure-theoretic axiomatisation of probability as the starting point towards an axiomatisation of causality. To that end, we propose the notion of a causal space, consisting of a probability space along with a collection of transition probability kernels, called causal kernels, that encode the causal information of the space. Our proposed framework is not only rigorously grounded in measure theory, but it also sheds light on long-standing limitations of existing frameworks including, for example, cycles, latent variables and stochastic processes.
.row.project
  .col-md-2.col-3
    h3.mb-0 15th
    h5.month.mb-0 November
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Alexander Reisach]
    h4.title.mb-1
      | Sortability in Additive Noise Models
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-5d315bd4dfe6826ee76219cbfcb279c9",aria-expanded="false",aria-controls="talk-5d315bd4dfe6826ee76219cbfcb279c9")
        | #[i.bi.bi-card-text] Abstract
  .col-md-7
    p.abstract#talk-5d315bd4dfe6826ee76219cbfcb279c9.collapse.mt-2
        | Causal graphical models encode causal relationships between variables, typically based on a directed acyclic graph (DAG). Structural causal models expand upon this by expressing the causal relationships as explicit functions, which allows for computing the effect of interventions and much more. We show that, in many common parameterizations using linear functions and additive noise, effects accumulate along the causal order. This property enables inferring the causal order from data simply by sorting by a suitable criterion. We introduce the concept of sortability to capture the magnitude of the phenomenon, and show that the accumulating effects can lead to unrealistic values and deterministic relationships. We discuss implications for existing results and future research based on the same model class.