.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Yorgos Felekis]
    h2.title.mb-0.mt-1
      | Causal Optimal Transport of Abstractions
  .col-md-2.col-4
    h1.day 6th
    h4.month.mb-0 December
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Causal abstraction (CA) theory establishes formal criteria for relating multiple structural causal models (SCMs) at different levels of granularity by defining maps between them. These maps have significant relevance for real-world challenges such as synthesizing causal evidence from multiple experimental environments learning causally consistent representations at different resolutions and linking interventions across multiple SCMs. In this talk Yorgos will present COTA, a method to learn abstraction maps from observational and interventional data without assuming complete knowledge of the underlying SCMs. In particular a multi-marginal Optimal Transport (OT) formulation was leveraged that enforces do-calculus causal constraints together with a cost function that relies on interventional information. COTA was thoroughly evaluated on both synthetic and real-world problems demonstrating clear advantages over non-causal independent and aggregated OT formulations. Additionally the method's efficiency was showcased as a data augmentation tool by comparing it to the state-of-the-art CA learning framework which assumes fully specified SCMs on a real-world downstream task.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://meet.google.com/mhy-bzfg-xtg").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="slides/Causal Optimal Transport of Abstractions.pdf",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-file-earmark-text-fill] Paper
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Demo
      